<!DOCTYPE html>
<link rel="stylesheet" href="./css/style.css" />
<html>

<head>
  <link rel='icon' href="./img/weather.png">
  <title>{{title}}</title>
</head>

<body>
  <div class='main'>
    {{>header}}
    <h2>a page for {{name}}</h2>
    <p>This site was created by Lonnie M. Murray and uses data from mapbox.com and darkskies.net</p>
  </div>


  {{>footer}}
</body>

</html>