<!DOCTYPE html>
<link rel="stylesheet" href="./css/style.css" />
<html>

<head>
  <link rel='icon' href="./img/weather.png">
  <title>{{title}}</title>
</head>

<body>
  <div class='main'>
    {{>header}}
    <h2>a page for {{name}}</h2>
    <p>Hello, from the other side!!!</p>
  </div>


  {{>footer}}
</body>

</html>