<!DOCTYPE html>
<link rel="stylesheet" href="./css/style.css" />
<html>

<head>
    <title="Error Page">
        </title>
</head>

<body>
    <div class="main">
        {{>header}}
        <h2>Error Number {{number}}</h2>
        <H1>{{message}}</H1>
    </div>
    {{>footer}}
</body>

</html>