<!DOCTYPE html>

<html>

<head>
  <link rel='icon' href="./img/weather.png">
  <link rel="stylesheet" href="./css/style.css" />
  <title>{{title}}</title>
</head>

<body>
  <div class='main'>
    {{>header}}
    <h2>a page for {{name}}</h2>
    <p>{{message}}</p>
  </div>
  {{>footer}}
</body>

</html>